body {
    font-family: Arial;
    background-color: #F0F0F0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-space {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #333;
}

.form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #CCC;
    transition: border 0.3s ease;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0);
}

input:hover {
    border: 1px solid #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007BFF;
    transition: background-color 0.3s ease;
    color: #FFF;
    border: none;
    border-radius: 3px;
    padding: 20px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056B3;
}