<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 내용</title>
</head>
<body>
<h2>글 내용</h2>

<form action="updateAction" method="post">
    <table width="500" cellpadding="0" cellspacing="0" border="1">
        <input type="hidden" name="board_idx" th:value="${dto.board_idx}" />

        <tr>
            <td>번호</td>
            <td th:text="${dto.board_idx}"></td>
        </tr>
        <tr>
            <td>조회수</td>
            <td th:text="${dto.board_hit}"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="board_name" th:value="${dto.board_name}" size="50"></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="board_title" th:value="${dto.board_title}" size="50"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea rows="10" cols="50" name="board_content" th:text="${dto.board_content}"></textarea>
                <img src="이미지_경로_또는_URL" alt="이미지 설명">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;<input type="submit" value="수정하기">&nbsp;&nbsp;
                <a href="listForm"><input type="button" value="목록보기"></a>&nbsp;&nbsp;
                <a th:href="@{/deleteAction(board_idx=${dto.board_idx})}"><input type="button" value="삭제하기"></a>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</form>

<form action="/uploadImage" method="post" enctype="multipart/form-data">
    <input type="file" name="imageFile">
    <input type="hidden" name="board_idx" th:value="${dto.board_idx}">
    <input type="submit" value="이미지 업로드">
</form>

<form action="/likeAction" method="post">
    <input type="hidden" name="board_idx" th:value="${dto.board_idx}" />
    <input type="hidden" name="board_likes" th:value="${dto.board_likes}" />
    <input type="submit" value="좋아요" />
</form>

<p>좋아요 수: <span th:text="${dto.board_likes}"></span></p>

<br>

<form action="writeReplyAction" method="post">
    <table width="500" cellpadding="0" border="1">
        <tr>
            <td colspan="2">
                <input type="hidden" name="reply_board_index" th:value="${dto.board_idx}">
                <label>댓글</label><textarea rows="2" cols="50" name="reply_content"></textarea><br>
                <label>별명</label><input type="text" name="reply_name" value=""><br>
                <input type="submit" value="댓글 달기">
            </td>
        </tr>
    </table>
</form>

<br>

<table width="500" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>별명</th>
        <th>내용</th>
        <th>날짜</th>
        <th>수정</th>
        <th>삭제</th>
        <th>대댓글 달기</th>
    </tr>
    <tr th:each="reply_dto : ${reply_list}">
        <td th:text="${reply_dto.reply_name}"></td>
        <td>
            <span th:text="${reply_dto.reply_content}" />
        </td>
        <td>
            <span th:text="${#dates.format(reply_dto.reply_date, 'yyyy-MM-dd HH:mm:ss')}" />
        </td>

        <td>
            <button onclick="editReply('${reply_dto.reply_idx}', '${reply_dto.reply_content}')">수정</button>
        </td>


        <div th:id="'editForm_${reply_dto.reply_idx}'" style="display: none;">
            <form th:id="'editReplyForm_${reply_dto.reply_idx}'" action="/updateReplyAction" method="post">
                <input type="hidden" name="reply_idx" th:value="${reply_dto.reply_idx}" />
                <input type="hidden" name="board_idx" th:value="${dto.board_idx}" />
                <textarea rows="2" cols="50" name="reply_content" th:text="${reply_dto.reply_content}"></textarea><br>
                <input type="button" value="수정 완료" onclick="submitEditReply('editReplyForm_${reply_dto.reply_idx}')">
            </form>
        </div>


        <td>
            <a th:href="@{/deleteReplyAction(reply_idx=${reply_dto.reply_idx}, board_idx=${dto.board_idx})}">
                <button>삭제</button>
            </a>

        </td>
        <td>
            <button onclick="showReplyForm('replyForm_${reply_dto.reply_idx}', '${dto.board_idx}', '${reply_dto.reply_idx}')">대댓글 달기</button>
            <div th:id="'replyForm_${reply_dto.reply_idx}'" style="display: none;">
                <form th:id="'form_${reply_dto.reply_idx}'" action="writeSubReplyAction" method="post">
                    <input type="hidden" name="reply_idx" th:value="${reply_dto.reply_idx}" />
                    <input type="hidden" name="board_idx" th:value="${dto.board_idx}" />
                    <textarea rows="2" cols="50" name="sub_reply_content"></textarea><br>
                    <label>대댓글 작성자</label><input type="text" name="sub_reply_name" value=""><br>
                    <input type="button" value="대댓글 작성" onclick="submitSubReply('form_${reply_dto.reply_idx}')">
                </form>
            </div>
        </td>

    </tr>

</table>

<script th:inline="javascript">
    function showReplyForm(replyFormId, boardIdx, replyIdx) {
        var replyForm = document.getElementById(replyFormId);
        if (replyForm.style.display === 'none') {
            replyForm.style.display = 'block';
        } else {
            replyForm.style.display = 'none';
        }

        document.querySelector(`#${replyFormId} [name='board_idx']`).value = boardIdx;
        document.querySelector(`#${replyFormId} [name='reply_idx']`).value = replyIdx;
    }

    function submitSubReply(formId) {
        var form = document.getElementById(formId);
        form.submit();
    }
function editReply(replyIdx, currentContent) {
    var editFormId = `editForm_${replyIdx}`;
    var editForm = document.getElementById(editFormId);

    if (editForm.style.display === 'none') {

        editForm.style.display = 'block';
        var textarea = document.querySelector(`#${editFormId} textarea`);
        textarea.value = currentContent;
    } else {
        editForm.style.display = 'none';
    }
}

function submitEditReply(formId) {
    var form = document.getElementById(formId);
    form.submit();
}





</script>



</body>
</html>
