<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
<h2>글쓰기</h2>

<form action="writeAction" method="post">
    <table width="500" cellpadding="0" cellspacing="0" border="1">

        <tr>
            <td>이름</td>
            <td><input type="text" name="board_name" placeholder="이름을 입력하세요" size="50"></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="board_title" placeholder="제목을 입력하세요" size="50"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea rows="10" cols="50" name="board_content" placeholder="내용을 입력하세요"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;&nbsp;<input type="submit" value="글쓰기">&nbsp;&nbsp;
                <a href="listForm"><input type="button" value="목록보기"></a>
            </td>
        </tr>

    </table>
</form>
</body>
</html>
